<app-menu [menu]="menu"></app-menu>

<div class="modal fade" id="stats-modal" tabindex="-1" role="dialog" aria-labelledby="stats-label" aria-hidden="true"
   ng-controller="StatsController">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
            class="sr-only">Close</span></button>
        <h4 class="modal-title" id="stats-label"><i class="fa fa-bar-chart"></i> Statistics</h4>
      </div>
      <div class="modal-body">
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="page-header"><h3>Home</h3></div>

  <div class="row justify-content-sm-center">
    <div class="col-sm-3">
      <div class="card card-outline-secondary">
        <div class="card-header">
          <h5 class="card-title">Game</h5>
        </div>
        <div class="card-block">
          <div class="row" *ngIf="game.party.characters === undefined">
            <div class="col">
              <button class="btn btn-success btn-block" (click)="game.newGame()">
                <i class="fa fa-plus"></i> Start New Game
              </button>
            </div>
          </div>
          <div class="row" *ngIf="game.party.characters !== undefined">
            <div class="col">
              <button class="btn btn-warning btn-block">
                <i class="fa fa-floppy-o"></i> Load Game
              </button>
            </div>
          </div>
        </div>
        <div class="card-block">
          <div class="row" *ngIf="game.party.characters !== undefined">
            <div class="col">
              <p class="text-center text-success">Last Saved: <span ng-cloak>{{ game.lastSaved | date:'H:mm' }}</span></p>
            </div>
          </div>
          <div class="row" *ngIf="game.party.characters !== undefined">
            <div class="col">
              <button class="btn btn-success btn-block" (click)="game.saveNow()">
                <i class="fa fa-floppy-o"></i> Save Game
              </button>
            </div>
          </div>
          <div class="row" *ngIf="game.party.characters !== undefined">
            <div class="col">
              <button class="btn btn-danger btn-block" (click)="restart()">
                <i class="fa fa-refresh"></i> Restart Game
              </button>
            </div>
          </div>
        </div>
        <div class="card-block">
          <div class="row">
            <div class="col">
              <button class="btn btn-info btn-block" data-toggle="modal" data-target="#achievements-modal">
                <i class="fa fa-trophy"></i> Achievements
              </button>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <button class="btn btn-info btn-block" data-toggle="modal" data-target="#stats-modal">
                <i class="fa fa-bar-chart"></i> Statistics
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card card-outline-secondary">
        <div class="card-header">
          <h5 class="card-title">Settings</h5>
        </div>
        <div class="card-block">
          <!-- <div class="form-group">
            <label for="theme">Theme</label>
            <select id="theme" class="form-control" ng-change="setTheme(css.name)" ng-model="css.name"
                ng-options="bootstrap.url as bootstrap.name for bootstrap in bootstraps">
            </select>
          </div> -->
        </div>
      </div>
    </div>
  </div>
</div>
